APP_ENV=development
APP_ADDR=:8080

# Example for docker-compose MySQL:
# user: password=supervisor, database=supervisor_game, host=127.0.0.1:3306
DB_DSN=supervisor:supervisor@tcp(127.0.0.1:3306)/supervisor_game?charset=utf8mb4&parseTime=True&loc=Local
